body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
/* Geral para o carrossel */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-width: 100%; /* Ajusta o tamanho do carrossel à largura disponível */
    margin: 20px auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ocupa todo o espaço disponível */
}

.carousel img {
    max-width: 100%; /* Ajusta o tamanho das imagens proporcionalmente */
    flex-shrink: 0; /* Impede que as imagens encolham */
    width: 100%; /* Faz a imagem ocupar 100% do espaço do container */
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
